<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wishlist</title>
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="https://w7.pngwing.com/pngs/820/953/png-transparent-love-hearts-love-hearts-red-heart-love-heart-computer-icons-thumbnail.png"
    />
    <link
      rel="stylesheet"
      href="https://fontawesome.com/v4.7.0/assets/font-awesome/css/font-awesome.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Kanit&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/cartStyle.css" />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>

  <body>
    <!-- header section starts -->

    <nav class="navbar navbar-expand-lg navbar-light bg-light p-3">
      <div class="container-fluid">
        <div class="brand-container me-3">
          <a
            class="navbar-brand"
            href="#"
            style="
              font-size: 30px;
              font-weight: 600;
              font-family: 'Kanit', sans-serif;
            "
            >Fashion Feet</a
          >
        </div>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse align-items-center justify-content-end"
          id="navbarSupportedContent"
        >
          <div class="category-container pe-3">
            <ul class="navbar-nav mb-2 mb-lg-0 text-center">
              <li class="nav-item">
                <a class="nav-link me-lg-1" aria-current="page" href="/home"
                  >Home</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link me-lg-1"
                  href="/shop"
                  id="navbarDropdown"
                  role="button"
                  >Shop</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link me-lg-1"
                  href="/contact"
                  id="navbarDropdown"
                  role="button"
                  >Contact Us</a
                >
              </li>
            </ul>
          </div>
          <div class="right-container d-lg-flex align-items-center">
            <form class="d-flex">
              <input
                class="form-control mr-sm-1"
                type="text"
                placeholder="Search"
                aria-label="Search"
                name="search"
              />
              <button
                type="submit"
                class="ms-1 bg-light"
                style="
                  border: 1px solid rgb(227, 227, 227);
                  border-radius: 5px;
                  padding: 5px;
                "
                value="search"
              >
                <i class="fa-solid fa-magnifying-glass"></i>
              </button>
            </form>
            <div class="user-head pe-4 mt-2 mt-lg-0 mt-md-0 mt-sm-0">
              <a
                href="/wishlist"
                style="
                  text-decoration: none;
                  color: rgb(0, 0, 0);
                  font-size: 25px;
                "
                class="me-2 ms-2"
                ><i class="head-btn fa-regular fa-heart"></i
              ></a>
              <a
                href="/addtocart"
                style="
                  text-decoration: none;
                  color: rgb(98, 98, 98);
                  font-size: 25px;
                "
                class="me-2"
                ><i class="head-btn fa-solid fa-cart-shopping"></i
              ></a>
              <a
                href="/my-profile"
                style="
                  text-decoration: none;
                  color: rgb(98, 98, 98);
                  font-size: 25px;
                "
                ><i class="head-btn fa-solid fa-user"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <!-- header section ended -->

    <section class="h-100">
      <div class="container-fluid">
        <div class="container">
          <% if (!wishlist || wishlist.length === 0){ %>

          <div class="container">
            <div
              class="img-container d-flex justify-content-center align-items-center mt-3"
            >
              <img
                src="https://azaong.com/app/img/core-img/empty-cart-icon.png"
                alt=""
                class="img-fluid"
                width="300px"
                height="300px"
              />
            </div>
          </div>
          <p class="text-muted mt-2 text-center">
            you didn't added any items yet...add Now
          </p>
          <div class="no-item d-flex justify-content-center">
            <a href="/shop"
              ><button type="button" class="btn btn-success">add Now</button></a
            >
          </div>

          <% } else {%>
          <div class="row d-flex my-4">
            <div class="card mb-4 col-lg-12 col-md-12 col-sm-12 col-12">
              <div class="card-header py-3">
                <h5 class="mb-0">Total items <%= wishlist.length %></h5>
              </div>
              <% wishlist.reverse().forEach(item => { %>
              <div class="card-body">
                <!-- Single item -->
                <div class="row">
                  <div class="col-4 col-sm-4 col-md-4 col-lg-3 mb-4 mb-lg-0">
                    <!-- Image -->
                    <div
                      class="bg-image hover-overlay hover-zoom ripple rounded"
                      data-mdb-ripple-color="light"
                    >
                      <img
                        src="admin-assets/uploads/<%= item.image %>"
                        class="w-50"
                      />
                      <a href="#!">
                        <div
                          class="mask"
                          style="background-color: rgba(251, 251, 251, 0.2)"
                        ></div>
                      </a>
                    </div>
                    <!-- Image -->
                  </div>

                  <div class="col-4 col-sm-4 col-md-6 col-lg-6 mb-4 mb-lg-0">
                    <!-- Data -->
                    <p><strong><%= item.product_name %></strong></p>
                    <p class="text-muted">for <%= item.ideal_for %></p>
                    <p class="text-start">
                      <strong class="item-price"
                        >₹<%= item.offer_price %></strong
                      >
                    </p>
                    <!-- Data -->
                  </div>

                  <div
                    class="col-4 col-sm-4 col-lg-3 col-md-2 mb-4 mb-lg-0 d-flex justify-content-end"
                  >
                    <!-- Quantity -->

                    <div>
                      <button class="btn btn-primary btn-sm me-1 mb-2" type="button" onclick="removeitem('<%=item.product_id%>')">
                        <i class="fas fa-trash"></i>
                      </button>
                      <!-- <a
                        href="/delete-wishlist-item?id=<%= item.product_id %>"
                        type="button"
                        class="btn btn-primary btn-sm me-1 mb-2"
                        data-mdb-toggle="tooltip"
                        title="Remove item"
                      >
                        <i class="fas fa-trash"></i>
                      </a> -->
                    </div>

                    <!-- Quantity -->
                  </div>
                </div>
              </div>
              <hr />
              <% }); %>
            </div>
            <!-- Single item -->
          </div>
          <% } %>
        </div>
      </div>
    </section>

    <script>
      function removeitem(id){
        $.ajax({
          url : '/delete-wishlist-item?id=' + id,
          method : 'DELETE',
          success : (response) => {
            location.href = '/wishlist'
          }
        })
      }
    </script>
  </body>
</html>
